<h1>Mes emails</h1>

<table>
	<tr>
		<th>Email object</th>
    <th>Email body</th>
  </tr>

  <tr>
	  <%@emails.each do |email|%>
	  	<td>
				<%= link_to email.object, email_path(email), remote: true %> 
				<% end %>
			</td>
			<td>
				<div id="emailbody" style="display:none;"></div>
			</td>
 	</tr>
</table>
